# Игнорировать директорию __pycache__
__pycache__/

# Игнорировать все файлы и директории с расширением .pyc
*.pyc

# Игнорировать файл настроек окружения
.env

# Игнорировать Git-репозиторий
.git/

# Игнорировать директории виртуальных окружений
venv/
env/
.venv/